.tasksContainer {
  font-size: 14px;
  margin-top: 4rem;
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.headerSeparator {
  width: 100%;
  border: 1px solid gray;
  opacity: 0.4;
  margin-bottom: 4rem; 
}


.signOutButton {
  background-color: var(--danger);
  padding: 12px 20px;
  border-radius: 8px;
  margin: 1.5rem auto;
  display: block;
}